.nav-tabs .nav-link{
    color: #222 !important;

}
.nav-tabs .nav-link.active{
    background-color: var(--main-primary-color1) !important;
    color: #fff !important;
}
.required-star {
    color: red !important;
    font-size: 1.5rem !important;
    font-weight: bold !important;
}